.Digits {
  margin: 0 12px;
  .digit {
    border-radius: 8px;
    background: #263238;
    color: white;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid black;

    font-size: 26em;
    line-height: 1;
    padding: 0.15em 0 0 0;

    @media(max-width: 1300px) {
      font-size: 20em;
    }

    @media(max-width: 1080px) {
      font-size: 16em;
    }

    @media(max-width: 960px) {
      font-size: 12em;
    }

    @media(max-width: 768px) {
      font-size: 7em;
    }
  }

  @media(max-width: 768px) {
    margin: 0 4px;
  }
}