body {
  margin: 0;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root, html, body {
  height: 100%;
}

body {
  background: #263238;
}

.btn-text{
  color: rgba(255,255,255,0.5);
  padding: 0;
}

.btn-text:hover{
  color: rgba(255,255,255,1);
}