.SettingPanel {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 30;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .box {
    background: #263238;
    color: white;
    border-radius: 4px;
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.1);
    width: 300px;
    .header{
      line-height: 1.2;
      padding: 12px 16px;
      border-bottom: 1px solid rgba(0,0,0,0.6);
    }
    .body {
      border-top: 1px solid rgba(255,255,255,0.1);
      border-bottom: 1px solid rgba(0,0,0,0.6);
      padding: 12px 16px;

      .settings {
        font-size: 0.9em;
        .setting {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 12px;

          .form-control {
            text-align: right;
            width: 80px;
          }
          .lbl {
            opacity: 0.7;
          }
        }
        .instruction {
          opacity: 0.7;
          line-height: 1.4;
          margin-bottom: 16px;
        }
      }
    }
    .actions {
      border-top: 1px solid rgba(255,255,255,0.1);
      border-bottom: 1px solid rgba(0,0,0,0.6);
      text-align: right;
      padding: 12px 16px;
      .btn {
        padding: 2px 12px;
        border-radius: 2px;
        margin-left: 12px;
        border-top: 1px solid rgba(255,255,255,0.2);
      }
    }
  }
}